<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/img/icono.ico">
    <link rel="stylesheet" href="/css/styles-post.css">
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    <hr>
    <aside>
      <h2>OTROS ARTÍCULOS</h2>
      <div class="otros-articulos">
        <ul>
          <h4> 💻 Lenguajes </h4>
          {% for article in collections.lenguajes %}
            <li>
              <a href="{{ article.url }}">
                {{ article.data.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <ul>
          <h4> ⚛️ Frontend  </h4>
          {% for article in collections.frameworks %}
            <li>
              <a href="{{ article.url }}">
                {{ article.data.title }}
              </a>
            </li>
          {% endfor %}
          <h4> herramientas  </h4>
          {% for article in collections.herramienta_front %}
            <li>
              <a href="{{ article.url }}">
                {{ article.data.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <ul>
          <h4> 🌐 Backend  </h4>
          {% for article in collections.backend %}
            <li>
              <a href="{{ article.url }}">
                {{ article.data.title }}
              </a>
            </li>
          {% endfor %}
          <h4> herramientas  </h4>
          {% for article in collections.herramienta_back %}
            <li>
              <a href="{{ article.url }}">
                {{ article.data.title }}
              </a>
            </li>
          {% endfor %}

        </ul>
        <ul>
          <h4> 🗄️ Bases de Datos </h4>
          {% for article in collections.bases_de_datos %}
            <li>
              <a href="{{ article.url }}">
                {{ article.data.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <ul>
          <h4> 🛠️ Herramientas  </h4>
          {% for article in collections.herramientas %}
            <li>
              <a href="{{ article.url }}">
                {{ article.data.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </aside>
    {% include "footer.njk" %}
    <script src="/js/main.js" type="module"></script>
  </body>
</html>