<nav class="navbar">
  <div class="grir-parent">
    <div class="grid-item">
      <a href="/" class="logo"> FerBlog </a>
      <div class="menu">
          <a href="/">Inicio</a>
          <a href="/blog">Blog</a>
      </div>
    </div>
  </div>
</nav>