---
layout: layout-page.njk
title: Página de Contacto
description: Meta descripción de la página de contacto
---

<section class="blog c-visible">
<h1> 💻 Lenguajes y Sintaxis </h1>
  {% for post in collections.lenguajes  %}
    <a href="{{ post.url }}"  >
      {% if post.data.img %}
        <img src="{{ post.data.img }}" alt="{{ post.data.title }}" 
            loading="lazy" decoding="async"/>
      {% else %}
        <img src="/img/portada/no-img-dark.avif" alt="NO tiene img {{ post.data.title }}">
      {% endif %}

      <div class="text">
        <h3>{{ post.data.title }}</h3>
        <p>{{ post.data.date }}</p>
      </div>
      <p>{{ post.data.description }}</p>

    </a>
  {% endfor %}
</section>

<section class="blog c-visible">
<h1> ⚛️ Frontend y Frameworks </h1>
  {% for post in collections.frameworks  %}
    <a href="{{ post.url }}"  >
      {% if post.data.img %}
        <img src="{{ post.data.img }}" alt="{{ post.data.title }}" 
            loading="lazy" decoding="async"/>
      {% else %}
        <img src="/img/portada/no-img-dark.avif" alt="NO tiene img {{ post.data.title }}">
      {% endif %}

      <div class="text">
        <h3>{{ post.data.title }}</h3>
        <p>{{ post.data.date }}</p>
      </div>
      <p>{{ post.data.description }}</p>

    </a>
  {% endfor %}
</section>

<section class="blog c-visible">
<h1> 🌐 Backend y Servidores </h1>
  {% for post in collections.backend  %}
    <a href="{{ post.url }}"  >
      {% if post.data.img %}
        <img src="{{ post.data.img }}" alt="{{ post.data.title }}" 
            loading="lazy" decoding="async"/>
      {% else %}
        <img src="/img/portada/no-img-dark.avif" alt="NO tiene img {{ post.data.title }}">
      {% endif %}

      <div class="text">
        <h3>{{ post.data.title }}</h3>
        <p>{{ post.data.date }}</p>
      </div>
      <p>{{ post.data.description }}</p>

    </a>
  {% endfor %}
</section>

<section class="blog c-visible">
<h1> 🗄️ Bases de Datos </h1>
  {% for post in collections.bases_de_datos  %}
    <a href="{{ post.url }}"  >
      {% if post.data.img %}
        <img src="{{ post.data.img }}" alt="{{ post.data.title }}" 
            loading="lazy" decoding="async"/>
      {% else %}
        <img src="/img/portada/no-img-dark.avif" alt="NO tiene img {{ post.data.title }}">
      {% endif %}

      <div class="text">
        <h3>{{ post.data.title }}</h3>
        <p>{{ post.data.date }}</p>
      </div>
      <p>{{ post.data.description }}</p>

    </a>
  {% endfor %}
</section>

<section class="blog c-visible">
<h1> 🛠️ Herramientas de Desarrollo </h1>
  {% for post in collections.herramientas  %}
    <a href="{{ post.url }}"  >
      {% if post.data.img %}
        <img src="{{ post.data.img }}" alt="{{ post.data.title }}" 
            loading="lazy" decoding="async"/>
      {% else %}
        <img src="/img/portada/no-img-dark.avif" alt="NO tiene img {{ post.data.title }}">
      {% endif %}

      <div class="text">
        <h3>{{ post.data.title }}</h3>
        <p>{{ post.data.date }}</p>
      </div>
      <p>{{ post.data.description }}</p>

    </a>
  {% endfor %}
</section>

