@import "./styleInitial.css";

/* ********** Utilities ********** */

.c-visible {
  content-visibility: auto;
}

/* ********** Components ********** */

aside {
  padding-bottom: 1rem;
  max-width: 800px;
  margin: 0 auto;

  /* display: flex; */
  /* justify-content: end; */
  /* align-items: end; */
  /* flex-direction: column; */
  text-align: right;
  /* padding-left: 5rem; */
  ul {
    li {
      /* direction: rtl; */
      /* list-style-position: inside; */
      list-style-type: none;
      text-align: right;
      &::after {
        content: "«";
        color: #18f;
        margin-right: 5px;
      }
      a:hover {
        color: #18f;
      }
    }
  }
}

table {
  border-collapse: collapse;
  min-width: 70%;
  margin: 2rem auto;
  border-radius: 1rem;
  overflow: hidden;
  outline: 1px solid #3e3e3d;

  thead {
    border-bottom: 1px solid #3e3e3d;
  }

  tbody tr:hover {
    /* background-color: #0f2138; */
    opacity: 0.9;
  }

  tr {
    color: #fff;

    /* &:nth-child(odd) */
    &:nth-child(even) {
      background-color: #1d1d1d;
    }
  }

  td,
  th {
    border: none;
    border-left: 1px solid #3e3e3d;
    padding: 5px 1rem;
    &:first-child {
      border-left: none;
    }
  }
}

/* ********** Site Styles ********** */

body {
  margin-top: 5rem;
}

img {
  border-radius: 1.5rem;
  /* outline: 1px solid #000; */
}

main {
  margin: 0 auto;
  max-width: 1080px;
  max-width: 850px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 1px solid #444;
  background-color: var(--bg-dark);
  /* content-visibility: auto; */
}

hr {
  border-color: #555;
}

h1 {
  text-align: center;
}

P {
  /* color: #bdbdbd; */
  color: #b0b0b0;
  /* color: #989898; */
}

ul {
  /* padding-left: 0; */
  padding-left: 1.5rem;
}

strong {
  /* font-weight: 500; */
  color: #f8f8f8;
  color: #f6f6f6;
}
pre {
  /* width: fit-content; */
  /* max-width: 700px; */
  /* margin: 1rem auto; */
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 300;
  background-color: #3d3d3d;
  background-color: #272727;
  padding: 0.5rem 1rem;
  /* overflow: hidden; */
  overflow-x: auto;
  color: #bbb;
  color: #d1d1d1;
  font-size: 14px;
  border-radius: 0.375rem;
}

blockquote {
  margin-left: 1.5rem;
  margin-right: 0;
  p {
    /* color: red; */
    font-size: 0.9rem;
    /* font-size: var(--step-13); */
  }
}

code {
  color: #f6f6f6;
  font-size: 0.8rem;
}

form {
  margin: 1rem;
}
