@import "./styleInitial.css";

/* ********** Components ********** */

.sombra-img {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to left,
      #000 10%,
      #f000 70%,
      var(--bg-dark) 100%
    );
    pointer-events: none;
  }
}

/* ********** Site Styles ********** */

.index {
  display: flex;
  width: 100%;

  @media (width < 700px) {
    .box-img {
      display: none;
    }
    .box-texto {
      height: calc(100vh - var(--header-height));
    }
  }

  .box-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    background-image: url("../img/Blogs.svg");
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      max-width: 550px;
      padding: 1.5rem 0 3rem;
    }

    a {
      display: inline-flex;
      justify-content: center;
      min-width: 70px;
      padding: 1rem 1rem;
      border: 7px solid #111;
      border-radius: 25px;
      font-weight: old;
      color: var(--btn-first-text);
      text-align: center;
      text-decoration: none;
      background-color: var(--btn-first);
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }
  .box-img {
    width: 100%;
    max-width: 100%;
    max-height: 100svh;

    img {
      width: 100%;
      height: 99vh;
      max-width: 960px;
      object-fit: cover;
    }
  }
}

.blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 10px;
  max-width: 1080px;
  margin: 1rem auto;
  margin-top: 5rem;
  &:last-child {
    margin-bottom: 2.5rem;
  }

  h1:first-of-type {
    grid-column: 1 / -1;
    text-align: center;
  }

  a {
    display: flex;
    border: 1px solid #373737;
    /* border: 1px solid #090909; */
    border-radius: 1.1rem;
    color: var(--text-first);
    background-color: var(--bg-card);
    box-shadow: 3px 3px 9px #0004;

    content-visibility: auto;

    img {
      max-width: 100px;
      border-radius: 1rem;
      border-radius: 1rem 0 0 1rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .box-info {
      padding: 10px;
      width: 100%;

      p {
        margin: 0.5rem 0 0 0;
        font-size: 14px;
      }

      .text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: var(--step-16);
          margin: 0;
        }
        p {
          font-size: var(--step-12);
          margin: 0;
        }
      }
    }
  }
}
